<%= render "layouts/menu" %>
<div class="content">
  <div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center" data-background-color="red">
                        <br>
                        <h4 class="title titulo ">Tus Cursos Asignados</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary titulo">
                              <th>Nombre</th>
                              <th>Código</th>
                              <th>Estado</th>
                              <th>Mostrar</th>
                            </thead>
                            <tbody>
                            <% @courses.each do |course| %>
                                <tr id="<%=course.id%>">
                                  <td class="text-primary " ><%= course.name%></td>
                                  <td><%= course.code%></td>
                                  <td><%= course.active%></td>                                
                                  <td><%= link_to 'Show', course_user_path(course.id) %></td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>