<%= render "layouts/menu" %>
<div class="content">
  <div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center" data-background-color="red">
                        <br>
                        <h2 class="title titulo ">Blogs</h2>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary titulo">
                              <th>Creador</th>
                              <th>Titulo</th>
                              <th>Ver</th>                          
                              <th>Editar</th>
                              <th>Eliminar</th>
                            </thead>
                            <tbody>
                            <% @blogs.each do |blog| %>
                                <tr id="<%=blog.id%>">
                                  <td><%= blog.user.name %></td>
                                  <td><%= blog.title %></td>
                                  <td align="left"><%= link_to blog do %>
                                      <%= fa_icon "search-plus lg" %>
                                    <%end%>
                                  </td>
                                  <%if current_user.rol==1 || current_user.id==blog.user.id %>
                                    <td align="left"><%= link_to edit_blog_path(blog) do%>
                                        <%= fa_icon "pencil-square-o lg"%>                                        
                                      <%end%>
                                    </td>
                                    <td align="left"><%= link_to blog, method: :delete, data: { confirm: 'Está seguro?' } do%>
                                        <%= fa_icon "trash lg"%>                                        
                                      <%end%>
                                    </td>
                                  <%end%>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
