<%= render "layouts/menu" %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center" data-background-color="red">
                        <h4 class="title titulo ">USUARIOS POR ACTIVAR</h4>
                        <p class="category">Usuarios en espera de activación</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary titulo">
                              <th>Nombre</th>
                              <th>Correo</th>
                              <th>Rol</th>
                              <th>Activar</th>
                            </thead>
                            <tbody>
                              <% @usuarios.each do |user| %>
                                <tr id="<%=user.id%>">
                                  <td class="text-primary " ><%= user.name%></td>
                                  <td><%= user.email%></td>
                                  <td><%= user.rol%></td>
                                  <td><a onclick="activarUsuario(<%=user.id%>)" class="btn btn-danger">Activar</a></td>
                                </tr>
                              <% end %>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render "layouts/footer" %>