<%= render "layouts/menu" %>
<div class="content contenedor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <!-- <div class="card-header" data-background-color="purple">
                        <h4 class="title"><%= @usuario.name%></h4>
                        <p class="category"><%= @usuario.email%></p>
                    </div> -->
                    <div class="card-content ">
                        <div class="perfil">
                            <p class= "texto">Datos de cuenta</p>
                        </div>
                        <div class = "avatar"> 
                           <%=image_tag @usuario.avatar.url(:media), :class => "img-circle" %>
                        </div>
                       <p class= "texto margen"><%= @usuario.name%> </p>
                       <p> E-mail: <%= @usuario.email%> </p>

                        <% if @usuario.rol == 1 %>
                            <p>Rol: Administrador</p>
                        <%elsif @usuario.rol == 2%>
                            <p>Rol: Profesor</p>
                        <%else %>
                            <p>Rol: Estudiante</p>
                       <%end%>
                       <p>Activo:  <%= @usuario.active%></p>

                    <div class="perfil">
                        <p class= "texto">Logros</p>
                    </div>


                    <div class="row">
                        <div class="logros"> 

                           
                                <div class="col-md-3 col-sm-6 text-center">
                                     <span class="icons c1"><i class="fa fa-trophy"></i></span> 
                                        <div class="box-area">
                                         <h3>BRONCE</h3>
                                         <p>Has sacado una calificación de 3 o más en una materia</p>
                                        </div>
                                </div>
                        

                            
                                <div class="col-md-3 col-sm-6 text-center"> 
                                    <span class="icons c2"><i class="fa fa-trophy"></i></span> 
                                    <div class="box-area">
                                        <h3>PLATA</h3> 
                                        <p>Has sacado una calificación de 4 o más en una materia</p>
                                    </div>
                                </div>
                     

                       
                                <div class="col-md-3 col-sm-6 text-center"> 
                                    <span class="icons c3"><i class="fa fa-trophy"></i></span> 
                                    <div class="box-area">
                                        <h3>PLATINO</h3> 
                                        <p>Has sacado una calificación de 4.5 o más en una materia</p>
                                    </div>
                                </div>
                           

                      
                                <div class="col-md-3 col-sm-6 text-center"> 
                                    <span class="icons c4"><i class="fa fa-trophy"></i></span>
                                    <div class="box-area">
                                        <h3>DIAMANTE</h3> 
                                        <p>Has sacado una calificación de 5 en una materia</p>
                                    </div>
                                </div>
                           
                        </div> 
                    </div>
                    
                      <div class="btn btn-danger color ">
                   
                     <%= link_to(edit_user_registration_path(current_user.id)) do%>
                    <%= fa_icon "clipboard"%>
                    <p>Editar Mi perfil </p>
                      <%end%>
                    </div>
 

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render "layouts/footer" %>