<%= render "layouts/menu" %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title"><%= @usuario.name%></h4>
                        <p class="category"><%= @usuario.email%></p>
                    </div>
                    <div class="card-content ">
                      <%= @usuario.rol%>
                      <h1>Activo:  <%= @usuario.active%></h1>
                      <%= link_to(edit_user_registration_path(current_user.id)) do%>
                            <%= fa_icon "clipboard"%>
                            <p>Editar Mi perfil </p>
                      <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render "layouts/footer" %>