<%= render "layouts/menu" %>
<div class="content contenedor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <!-- <div class="card-header" data-background-color="purple">
                        <h4 class="title"><%= @usuario.name%></h4>
                        <p class="category"><%= @usuario.email%></p>
                    </div> -->
                    <div class="card-content ">
                        <div class="perfil">
                            <p class= "texto">Datos de cuenta</p>
                        </div>

                        <div class="row">                              
                            <div class="col-md-6">
                                <div class = "avatar"> 
                                    <%=image_tag @usuario.avatar.url(:media), :class => "img-circle" %>
                                </div>
                                <p class= "texto margen"><%= @usuario.name%> </p>
                                <p> E-mail: <%= @usuario.email%> </p>
                                <% if @usuario.rol == 1 %>
                                    <p>Rol: Administrador</p>
                                <%elsif @usuario.rol == 2%>
                                    <p>Rol: Profesor</p>
                                <%else %>
                                    <p>Rol: Estudiante</p>
                               <%end%>
                               <p>Activo:  <%= @usuario.active%></p>
                            </div>
                            <div class="col-md-4 col-md-offset-1">
                              <br>
                              <br>
                                <div class="btn btn-danger btn-block">
                                    <%= link_to(edit_user_registration_path(current_user.id)) do%>
                                    <%= fa_icon "clipboard"%>
                                        <p>Editar Mi perfil</p>
                                    <%end%>
                                </div>
                            </div>                                
                        </div>

                    <div class="perfil">
                        <p class= "texto">Logros</p>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header card-chart" data-background-color="red">
                                    <div align="center">
                                        <br>
                                        <br>
                                        <span class="icons c1"><i class="fa fa-trophy fa-5x"></i></span>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title">Bronce</h4>
                                    <p class="category"><span class="text-success"><i class="fa fa-graduation-cap"></i> <%= @bronce%>  </span> Materias sobre 3 y menor que 4</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header card-chart" data-background-color="red">
                                    <div align="center">
                                        <br>
                                        <br>
                                        <span class="icons c1"><i class="fa fa-trophy fa-5x"></i></span>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title">Plata</h4>
                                    <p class="category"><span class="text-success"><i class="fa fa-graduation-cap"></i> <%= @plata%>  </span> Materias sobre 4 y menor que 4.5</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header card-chart" data-background-color="red">
                                    <div align="center">
                                        <br>
                                        <br>
                                        <span class="icons c1"><i class="fa fa-trophy fa-5x"></i></span>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title">Oro</h4>
                                    <p class="category"><span class="text-success"><i class="fa fa-graduation-cap"></i> <%= @oro%>  </span> Materias sobre 4.5 y menor que 5</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header card-chart" data-background-color="red">
                                    <div align="center">
                                        <br>
                                        <br>
                                        <span class="icons c1"><i class="fa fa-diamond fa-5x"></i></span>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title">Diamante</h4>
                                    <p class="category"><span class="text-success"><i class="fa fa-graduation-cap"></i> <%= @diamante%>  </span> Materias con nota de 5</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="perfil">
                        <p class= "texto">Estadísticas</p>
                    </div>

                    <div class="content">
                         <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-4 col-md-8 col-sm-8">
                                    <div class="card card-stats">
                                        <div class="card-header" data-background-color="red">
                                            <i class="material-icons">trending_up</i>
                                        </div>
                                        <div class="card-content">
                                            <p class="category">Promedio General</p>
                                            <h3 class="title"><%= @promedioGeneral%></h3>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render "layouts/footer" %>