<%= render "layouts/menu" %>
<div class="content">
  <div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center" data-background-color="red">
                        <br>
                        <h4 class="title titulo ">Calificaciones del Curso: <%= @qualifications.first.course.name%></h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary titulo">
                              <th>Código Estudiante</th>
                              <th>Nombre Estudiante</th>
                              <th>Nota</th>                             
                            </thead>
                            <tbody>
                            <% @qualifications.each do |qualification| %>
                                <tr id="<%=qualification.id%>">
                                  <td class="text-primary " ><%= qualification.user.id %></td>
                                  <td><%= qualification.user.name %></td>
                                  <td><%= qualification.nota %></td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>                       
                        <div class="row">                              
                        <div class="col-md-4 col-md-offset-1">
                          <%if @qualifications.first.course.active %>
                            <%= link_to new_course_qualification_path, class: "btn btn-default btn-block" do %>
                            <%= fa_icon "pencil-square-o"%>
                             Calificar
                            <%end%>
                          <% else %>
                          <% end %>
                        </div>                                
                      </div>
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
