<p id="notice"><%= notice %></p>

<h1>Qualifications <%= @qualifications.first.course.name%></h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>User</th>
      <th>Nota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qualifications.each do |qualification| %>
      <tr>
        <td><%= qualification.course %></td>
        <td><%= qualification.user.name %></td>
        <td><%= qualification.nota %></td>
        <td><%= link_to 'Show', course_qualification_path(qualification.course, qualification) %></td>
        <td><%= link_to 'Edit', edit_course_qualification_path(qualification.course, qualification) %></td>
        <td><%= link_to 'Destroy', [qualification.course, qualification], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qualification', new_course_qualification_path %>
