<%= javascript_tag do %>
  window.estudiantes = <%= raw @qualifications.to_json %>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {

    $( "#calificar" ).submit(function( event ) { // función para crear objeto json para agregar la calificación de los estudiantes
        submitCalificar(event);
    }); 
  });
<% end %>

<%= render "layouts/menu" %>
<div class="content">
  <div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center" data-background-color="red">
                        <br>
                        <h4 class="title titulo ">Calificar a los estudiantes del Curso <%= @qualifications.first.course.name %></h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary titulo">
                              <th>Código Estudiante</th>
                              <th>Nombre Estudiante</th>
                              <th>Nota</th>
                            </thead>
                            <tbody>
                            <% @qualifications.each do |qualification| %>
                                <tr id="<%=qualification.id%>">
                                  <td class="text-primary " ><%= qualification.user.id %></td>
                                  <td><%= qualification.user.name %></td>
                                  <td><%= qualification.nota %></td>
                                  <td><%= number_field_tag 'nota', qualification.nota , class: 'nota', min: 0, max: 5, step: 0.01 %> </td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                        <%= form_tag({controller: "qualifications", action: "create"}, method: "POST", id: "calificar") do %>
                          <%= text_field_tag(:q , nil, class: 'hidden') %>
                          <div class="actions">
                              <%= submit_tag("Asignar Notas", :class => "btn btn-danger")%>
                          </div>
                        <%end%>
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>

