<h1>New asignación</h1>
<%= @course.name%>
<div class="row">
	<div class="col-md-12" id="contenedorEstudiantes">
		<%= select_tag(:estudiantes1,options_for_select(@estudiantes.map{|p| [p.name, p.id]}) ) %>
	</div>
</div>
<a onclick="agregarSelect2Estudiante()" class="btn btn-primary"> <%= fa_icon "plus"%> </a>
<%= form_tag({controller: "asignar_estudiantes", action: "create"}, method: "POST", id: "asignar") do %>
	<%= text_field_tag(:q , nil, class: 'hidden') %>
	<%= submit_tag("enviar") %>

<%end%>

<%= javascript_tag do %>
	$(document).ready(function() {
	  $("select").select2();// Asignando a todos los selects a  ser select 2

	  $( "#asignar" ).submit(function( event ) { // función para crear un objeto json para enviar al controlador con los estudiantes asignados a una materia
			submitAsignar(event);s
	});

	window.estudiantes = <%= raw @estudiantes.to_json %>
});
<% end %>