<%= render "layouts/menu" %>
<div class="content">
  <div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center" data-background-color="red">
                        <br>
                        <h2 class="title titulo ">CURSOS</h2>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary titulo">
                              <th>Nombre</th>
                              <th>Código</th>
                              <th>Estado</th>
                              <th>Editar</th>
                              <th>Eliminar</th>
                            </thead>
                            <tbody>
                            <% @courses.each do |course| %>
                                <tr id="<%=course.id%>">
                                  <td class="text-primary " ><%= link_to course.name, course %></td>
                                  <td><%= course.code%></td>
                                  <%if course.active %>
                                    <td> Curso Activo </td> 
                                  <%else%>
                                    <td> Curso Inactivo </td> 
                                  <%end%>
                                  <td align="left"><%= link_to edit_course_path(course) do %> 
                                      <%= fa_icon "pencil lg"%>                                        
                                      <%end%>
                                  </td>
                                  <td align="left"><%= link_to course, method: :delete, data: { confirm: 'Está seguro?'} do%>
                                    <%= fa_icon "trash lg"%>                                        
                                      <%end%>
                                  </td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
