<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>
<p>
	<%=image_tag @course.user.avatar.url(:peque) %>
</p>
<p><%=@course.user.name%></p>
<p>
  <strong>Date end:</strong>
  <%= @course.date_end %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
