<%= form_for([content_course.course , content_course]) do |f| %>
  <% if content_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content_course.errors.count, "error") %> prohibited this content_course from being saved:</h2>

      <ul>
      <% content_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :course_id ,class:"hidden"%>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, :class => "tinymce", :rows => 20, :cols => 50 %>
    <%= tinymce %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar" ,class: "btn btn-primarys"%>
  </div>
<% end %>
