<%= render "layouts/menu" %>
<div class="content">
  <div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center" data-background-color="red">
                        <br>
                        <h2 class="title titulo ">NOTICIAS</h2>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary titulo">
                              <th>Título</th>
                              <th>Contenido</th>
                              <th>Estado</th>
                              <th>Imagen</th>
                              <th>Editar</th>
                              <th>Eliminar</th>
                            </thead>
                            <tbody>
                            <% @reports.each do |report| %>
                                <tr id="<%=report.id%>">
                                  <td class="text-primary " ><%= link_to report.title, report %></td>
                                  <td><%= report.contenido%></td>
                                  <% if report.active %>
                                    <td> Noticia Activa</td>
                                  <% else %>
                                    <td> Noticia Inactiva</td>
                                  <% end %>
                                  <td><%= image_tag report.avatar.url(:media) %></td>
                                  <td align="center"><%= link_to edit_report_path(report) do %>
                                      <%= fa_icon "pencil lg"%>                                        
                                      <%end%>
                                  </td>
                                  <td align="center"><%= link_to report, method: :delete, data: { confirm: 'Esta Seguro?' } do %>
                                      <%= fa_icon "trash lg"%>                                        
                                      <%end%>
                                  </td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>