<%= render "layouts/menu" %>
<div class="content">
  <div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center" data-background-color="red">
                        <br>
                        <h4 class="title titulo ">NOTICIAS</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary titulo">
                              <th>Título</th>
                              <th>Contenido</th>
                              <th>Estado</th>
                              <th>Imagen</th>
                              <th>Editar</th>
                              <th>Eliminar</th>
                              <th>Mostrar</th>
                            </thead>
                            <tbody>
                            <% @reports.each do |report| %>
                                <tr id="<%=report.id%>">
                                  <td class="text-primary " ><%= report.title%></td>
                                  <td><%= report.contenido%></td>
                                  <td><%= report.active%></td>
                                  <td><%= image_tag report.avatar.url(:media) %></td>
                                  <td><%= link_to 'Edit', edit_report_path(report) %></td>
                                  <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                  <td><%= link_to 'Show', report %></td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>