<%= render "layouts/menu" %>

	<div class="content">
		<p id="notice"><%= notice %></p>
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header" data-background-color="red">
	                            <br>
	                                <h3 class="title"><%= @report.title %></h3>
	                            </div>
	                            <div class="card-content">
									<div id="typography">									
										<div class="row">										
											<div class="tim-typo">
												<p> <%= @report.contenido %> </p>
											</div>											
										</div>
									</div>
	                            </div>
	                        </div>
	                        <%= image_tag @report.avatar.url() %>
	                    </div>
	                </div>
	            </div>
	    </div>



<%= render "layouts/footer" %>

