<%
@notificacion = User.where(active: false).count('active')
%>

<div class="wrapper">

	    <div class="sidebar" data-color="red" data-image="/assets/BannerTulua.jpg">
			<div class="logo">
				<a href="#" class="simple-text">
					Campus Virtual
				</a>
			</div>

	    	<div class="sidebar-wrapper">
	            <ul class="nav">
	                <li class="active">
						<%= link_to(root_path)do %>
	                        <%= fa_icon "home"%>
	                        <p>Home</p>
					    <%end%>
	                </li >
	                <li>
	                	<%= link_to(activate_user_path(current_user.id))  do %>
	                        <%= fa_icon "user"%>
	                        <p>Mi Perfil</p>
					    <%end%>
	                </li>

	                <%if current_user.rol==2 %>
		                <li>
		                	<%= link_to(course_users_path)  do %>
		                        <%= fa_icon "clipboard"%>
		                        <p>Cursos</p>
						    <%end%>
		                </li>
	                <%end%>

	                <%if current_user.rol==1 %>
		                <li class="dropdown">	    
		                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		                		<%= fa_icon "address-book-o"%>
								<span class="notification">Cursos</span>
								<b class="caret"></b>
						    </a>
			    			<ul class="dropdown-menu">
							  <li>
							  	<%= link_to(courses_path)  do %>
							  	<%= fa_icon "book"%>
								<span class="notification">Consultar Cursos</span>
						    	<%end%>
						      </li>				
							  <li class="divider"></li>
							  <li>
							  	<%= link_to(new_course_path) do %>
		                        <%= fa_icon "pencil-square-o"%>
								<span class="notification">Crear Cursos</span>
						    	<%end%>
			    			</ul>
		                </li>
	                <%end%>



	                <%if current_user.rol==1 %>
		                <li class="dropdown">	    
		                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="material-icons">border_color</i>
								<span class="notification">Noticias</span>
								<b class="caret"></b>
						    </a>
			    			<ul class="dropdown-menu">
							  <li>
							  	<%= link_to(reports_path)  do %>
		                        <i class="material-icons">search</i>
								<span class="notification">Consultar Noticias</span>
						    	<%end%>
						      </li>				
							  <li class="divider"></li>
							  <li>
							  	<%= link_to(new_report_path)  do %>
		                        <i class="material-icons">create_new_folder</i>
								<span class="notification">Crear Noticias</span>
						    	<%end%>
			    			</ul>
		                </li>
	                <%end%>
	              
	                <li class="dropdown">	    
	                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                		<%= fa_icon "book"%>
							<span class="notification">Blog</span>
							<b class="caret"></b>
					    </a>
		    			<ul class="dropdown-menu">
						  <li>
						  	<%= link_to(blogs_path)  do %>
						  	<%= fa_icon "newspaper-o"%>
							<span class="notification">Consultar Blogs</span>
					    	<%end%>
					      </li>				
						  <li class="divider"></li>
						  <li>
						  	<%= link_to(new_blog_path) do %>
	                        <%= fa_icon "clipboard"%>
							<span class="notification">Crear Blog</span>
					    	<%end%>
		    			</ul>
	                </li>

	                <%if current_user.rol==1 %>
		                <li>
		                	<%= link_to(activate_user_index_path)  do %>
		                        <%= fa_icon "user"%>
		                        <p>Activar usuarios</p>
						    <%end%>
		                </li>
		            <%end%>	   
	    	</div>
	    </div>

	    <div class="main-panel">
			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand"><p> Usuario: <%=current_user.name%> </p></a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<%if current_user.rol==1 %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<%= fa_icon "bell lg"%>
									<%if @notificacion > 0%>
										<span class="notification"><%= @notificacion%></span>
									<%else%>
									<%end%>
									<p class="hidden-lg hidden-md">Notificaciones</p>
								</a>
								<ul class="dropdown-menu">
									<li>
									<%= link_to(activate_user_index_path)  do %>
				                        <%= fa_icon "user"%>
				                        <%= @notificacion%> Usuarios por Activar
								    <%end%></li>									
								</ul>
							</li>
							<%end%>
							<li class="hidden-sm hidden-xs">
			                	<%= link_to(root_path)  do %>
			                        <%= image_tag current_user.avatar.url(:peque)%>
			                        <p class="hidden-lg hidden-md hidden-sm">Mi perfil</p>
							    <%end%>
							</li>
							<li>
								<%= link_to( destroy_user_session_path, :method => :delete )do%>
			                        <%= fa_icon "times"%>
			                        <p class="hidden-lg hidden-md">Cerrar Sesión</p>
								<%end%>
							</li>
						</ul>
						<!--
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group  is-empty">
								<input type="text" class="form-control" placeholder="Search">
								<span class="material-input"></span>
							</div>
							<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i><div class="ripple-container"></div>
							</button>
						</form>
						-->
					</div>
				</div>
			</nav>
			<div class="row hidden">
				<% if notice %>
					<p class="alert alert-success" id="notice"><%= notice %></p>
				<% end %>
				<% if alert %>
				  <p class="alert alert-danger" id="alert"><%= alert %></p>
				<% end %>
			</div>

