<div class="wrapper">

	    <div class="sidebar" data-color="red" data-image="/assets/BannerTulua.jpg">
			<div class="logo">
				<a href="#" class="simple-text">
					Campus Virtual
				</a>
			</div>

	    	<div class="sidebar-wrapper">
	            <ul class="nav">
	                <li class="active">
						<%= link_to(root_path)do %>
	                        <%= fa_icon "home"%>
	                        <p>Home</p>
					    <%end%>
	                </li >
	                <li>
	                	<%= link_to(root_path)  do %>
	                        <%= fa_icon "user"%>
	                        <p>Mi Perfil</p>
					    <%end%>
	                </li>
	                <li>
	                	<%= link_to(root_path)  do %>
	                        <%= fa_icon "clipboard"%>
	                        <p>Crusos</p>
					    <%end%>
	                </li>
	                <li>
	                	<%= link_to(root_path)  do %>
	                        <%= fa_icon "newspaper-o"%>
	                        <p>Noticias</p>
					    <%end%>
	                </li>
	                <li class="dropdown">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        			<ul class="dropdown-menu">
					  <li><a href="#">1</a></li>
					  <li><a href="#">2</a></li>
					  <li><a href="#">3</a></li>
					  <li class="divider"></li>
					  <li><a href="#">4</a></li>
					  <li class="divider"></li>
				      <li><a href="#">5</a></li>
        			</ul>
        		</li>	
	            </ul>
	    	</div>
	    </div>

	    <div class="main-panel">
			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand">Campus Virtual</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<%= fa_icon "bell"%>
									<span class="notification">5</span>
									<p class="hidden-lg hidden-md">notificaciones</p>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
								</ul>
							</li>
							<li class="hidden-sm hidden-xs">
			                	<%= link_to(root_path)  do %>
			                        <%= fa_icon "user"%>
			                        <p class="hidden-lg hidden-md hidden-sm">Mi perfil</p>
							    <%end%>
							</li>
							<li>
								<%= link_to( destroy_user_session_path, :method => :delete )do%>
			                        <%= fa_icon "times"%>
			                        <p class="hidden-lg hidden-md">Cerrar Sesión</p>
								<%end%>
							</li>
						</ul>

						<form class="navbar-form navbar-right" role="search">
							<div class="form-group  is-empty">
								<input type="text" class="form-control" placeholder="Search">
								<span class="material-input"></span>
							</div>
							<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i><div class="ripple-container"></div>
							</button>
						</form>
					</div>
				</div>
			</nav>
			<div class="row hidden">
				<% if notice %>
					<p class="alert alert-success" id="notice"><%= notice %></p>
				<% end %>
				<% if alert %>
				  <p class="alert alert-danger" id="alert"><%= alert %></p>
				<% end %>
			</div>

